@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

a {
  text-decoration: none;
  color: #292F36;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

ul {
  align-items: center;
  gap: 30px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.navbar {
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 355px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: dodgerblue; */
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 355px;
  margin-bottom: 200px;
}

.content {
  max-width: 1210px;
  margin: 0 auto;
  background-image: url(/backimg.png);
  background-repeat: no-repeat;
  background-position: top;
  padding: 40px 90px 0px 150px;
  height: 730px;
  margin-bottom: 100px;
}

.content-text {
  width: 630px;
  font-size: 65px;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: white;
}

.content-parag {
  font-size: 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  width: 470px;
  color: white;
  margin-bottom: 40px;
}

.content-btn {
  color: white;
  padding: 26px 49px 26px 48px;
  font-size: "DM Serif Display", serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #CDA274;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s all;
}

.content-btn:hover {
  background-color: black;
  color: white;
  padding: 26px 49px 26px 48px;
  transition: 0.5s all;
}

.contents {
  max-width: 1210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.contents-text {
  font-size: 25px;
  font-weight: 600;
  font-size: "DM Serif Display", serif;
  color: #292F36;
  transition: 0.5s all;
}

.contents-paragrif {
  width: 320px;
  font-size: 20px;
  font-weight: 400;
  font-family: Jost, sans-serif;
  color: #4D5053;
  margin-bottom: 60px;
  transition: 0.5s all;
}

.contents-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: Jost, sans-serif;
  color: #4D5053;
  margin: 0 auto;
  transition: 0.5s all;
}


.contents-child {
  transition: 0.5s all;
}

.contents-child:hover {
  background-color: #F9F9F9;
  border-radius: 30px;
  padding: 33px 10px 33px 10px;
  transition: 0.5s all;
}

.services {
  flex-wrap: wrap;

}

.child {
  margin-bottom: 50px;
  padding: 83px 20px 83px 20px;
  transition: 0.5s all;
}

.child:hover {
  padding: 83px 20px 83px 20px;
  transition: 0.5s all;

}

.child:hover h3 {
  color: #C76904;
  transition: 0.5s all;
}

.child:hover p {
  color: #C76904;
  transition: 0.5s all;
}

.child:hover button {
  color: #C76904;
  transition: 0.5s all;
}

.contents-btn:hover {
  background-color: black;
  color: white !important;
  padding: 22px 42px 22px 42px;
  border-radius: 10px;
  transition: 0.5s all;
}

.content-services {
  text-align: center;
  max-width: 1920px;
  background-image: url(/backser.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* padding: 120px; */
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-services h2 {
  font-size: 70px;
  font-weight: 400;
  font-size: "DM Serif Display", serif;
  color: white;
}

.services {
  margin-top: 200px;
}

.project {
  background-image: url(/backpro.png);
}


.content-project{
  max-width: 1250px;
  margin: 0 auto;
}
.project-child {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 835px;
  border: 1px solid #CDA274;
  border-radius: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-child a {
  font-size: 18px;
  font-weight: 600px;
  font-family: Jost, sans-serif;
  padding: 26px 66px 26px 66px;
  border-radius: 18px;
  transition: 0.5s all;
}

.project-child a:hover {
  background-color: #CDA274;
  transition: 0.5s all;

}

.project-childs {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50px; */
  flex-wrap: wrap;
}

.mini-child {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.children{
  margin-bottom: 40px;
}